  <ion-content padding>
    <!-- <ion-slides pager="true" [options]="slideOpts" class="slides"> -->
      <ion-slides pager="true" [options]="{onlyExternal: true}" class="slides">
      <ion-slide>

        <div class="conteudo">
          <ion-img src="../../../assets/gifs/tela001.gif" class="img"></ion-img>
          <h1 class="titulo">Bem Vindo!</h1>
          <p class="descricao">Com o nosso novo APP 
            você consegue realizar a visualização de nossos produtos
            disponiveis em nossa loja física
          </p>
        </div>

      </ion-slide>

      <ion-slide>
        <div class="conteudo">
          <ion-img src="../../../assets/gifs/tela002.gif" class="img"></ion-img>
          <h1 class="titulo">Realize o seu Cadastro</h1>
          <p class="descricao">
            Para você ver nossos novos produtos exclusivos 
            realize seu cadastro para ter acesso completo ele 
            é grátis e sem propaganda.
          
          </p>
        </div>
      </ion-slide>

      <ion-slide>
        <div class="conteudo">
          <ion-img src="../../../assets/gifs/tela003.gif" class="img"></ion-img>
          <h1 class="titulo">Compra Online!</h1>
          <p class="descricao">
            Para agilizar nosso atendimento nossa equipe está implantando os meios de pagamentos Online:
            via boleto, cartão de crédito e débito.
          </p>
        </div>
      </ion-slide>

      <ion-slide>
        <div class="conteudo">
          <a class="button" (click)="toIntro()"> 
            <ion-img src="../../../assets/gifs/start.gif" class="img"></ion-img>
          </a>
          
          <p class="descricao">
           Tudo pronto para iniciar a utilização
           o Aplicativo?
           <br/>

          </p>
        </div>
        
      </ion-slide>

    
    
    
    </ion-slides>
  </ion-content>
