<ion-header>
  <ion-toolbar color="favorite">
    <ion-buttons slot="start" style="color:white;">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="codigo == null" style="color:white;">Novo Produto</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
      <form [formGroup]="criar" (ngSubmit)="criarProduto()">
        
        <ion-item>
          <ion-label class="label" position="floating">Nome do Produto</ion-label>
          <ion-input type="text" name="nome"  [(ngModel)]="nome" formControlName="nome"></ion-input>
        </ion-item>


        <ion-item>
          <ion-label class="label" position="floating">Valor</ion-label>
          <ion-input type="text" name="valor" [(ngModel)]="valor" formControlName="valor"></ion-input>
        </ion-item>


        <ion-item>
          <ion-label class="label" position="floating">Descrição</ion-label>
          <ion-input type="text" name="descricao" [(ngModel)]="descricao" formControlName="descricao"></ion-input>
        </ion-item>



        <ion-item>
          <ion-label class="label" position="floating">Quantidade</ion-label>
          <ion-input type="number" name="qtd" [(ngModel)]="qtd" formControlName="qtd"></ion-input>
        </ion-item>

        
        <div style="margin-top: 10px;">
          <ion-button type="submit" expand="full" color="favorite">Gravar</ion-button>
         
        </div>
        
      </form>

  </ion-list>
  
</ion-content>
